.DS_Store
node_modules
.next
out
coverage
*.log
dist
generated/*.tmp
generated/*.cache
content/*
!content/index.md
!content/about/
!content/about/**
!content/product/
content/product/*
!content/product/index.md
!content/product/templates/
!content/product/templates/**
specs/*
